.movie-upload-modal {
  width: 700px;

  .ant-modal-close-x {
    color: #fff;    
  }

  .ant-modal-content {
    background-color: #242424;
    padding: 60px;
    padding-top: 30px;
    padding-bottom: 40px !important;
    text-align: center;

    h2 {
      color: #64EEBC;
      font-family: 'Bebas Neue', sans-serif;
      font-size: 20px;
      text-align: center;
    }
    
    .ant-upload-wrapper {

      &.drag-upload-choose {
        .ant-upload-drag {
          border: 1px dashed #999
        }
      }

      &.drag-upload-ready {

        .ant-upload-drag-uploading {
          padding: 0;
          border: 0;

          .ant-upload-btn {
            padding: 0;
          }
        }
      }

      .ant-upload {
        background-color: transparent;
        border-radius: 0px;
        position: relative;

        padding: 0px;
        border: 0px;
        height: 120px;
      }

      .ant-upload-text {
        font-size: 16px;
        letter-spacing: 4px;
        color: #fff;
      }

      .progress-info {
        font-family: 'Bebas Neue', sans-serif;
        font-weight: 400;
        letter-spacing: 4px;
        font-size: 16px;

        p {
          text-align: left;
          color: #fff;
          margin-bottom: 0px;
        }

        .ant-progress-inner {
          height: 4px;
          overflow: visible;
          background-color: #919191;
        }

        .ant-progress-bg {
          background-color: #64EEBC;
          border-radius: 0;
          margin-top: -2px;
        }

        .ant-progress.progress-error {

          .ant-progress-bg {
            background-color: #FF0000;
          }
        }

        button {
          float: right;
          color: #fff;
          letter-spacing: 4px;
          font-size: 16px;
          font-weight: bold;
          padding: 0px;
          width: auto;
        }
      }

    }

    .input-container {
      margin: 10px auto;
      margin-bottom: 30px;

      button {
        color: #000;
        width: 248px;
        padding: 28px 0;
        letter-spacing: 4px;
        border: 0;
        font-size: 18px;
        font-weight: 400;
        border-radius: 0px;
        font-family: 'Bebas Neue', sans-serif;

        &.upload-button {
          background-color: #919191;
          color: #000;
        }

        &.upload-button-valid {
          background-color: #fff;
          color: #242424;

          &:hover {
           color: #242424;
          }
        }
      }

      &.first {
        margin-bottom: 0px;
      }
    }

    .input-container:first-child {
      margin-bottom: 0px;
    }

    .input-container:last-child {
      margin-bottom: 0px;
    }

    .movie-title-input {
      border: none;
      border-bottom: 1px solid #fff;
      border-radius: 0px;
      color: #fff;
      width: 50%;
      margin: 10px auto;
      margin-bottom: 20px;
      margin-top: 30px;
      background-color: transparent;
      text-align: center;
      font-size: 16px;
      letter-spacing: 4px;
      font-weight: bold;


      &::placeholder {
        color: #666;
        opacity: 1;
      }
    }

    .step-finished {
      margin-top: 10px;
      color: #fff;

      .logo {
        margin-top: 40px;
        margin-bottom: 50px;
      }

      h3 {
        font-size: 24px;
        margin-bottom: 0px;
      }

      p {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 4px;
      }

      button {
        background-color: #fff;
        color: #000;
        margin-top: 60px;
      }
    }
  }
}

@keyframes slideUpIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDownOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.ant-modal-slide-up-enter {
  animation: slideUpIn 0.5s ease forwards;
}

.ant-modal-slide-up-leave {
  animation: slideDownOut 0.5s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ant-modal-mask-slide-up-enter {
  animation: fadeIn 0.5s ease forwards;
}

.ant-modal-mask-slide-up-leave {
  animation: fadeOut 0.5s ease forwards;
}

@media (width >= 768px) {
  .ant-modal-slide-up {
    border: 0;
    width: 720px !important;
    
    .ant-modal-content {
      border-radius: 0;
    }
  }
}