.play-button {
  width: 40px;
  height: 40px;
  border: 0px solid #fff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background: url('/assets/play-btn.svg') center center no-repeat;

  &.xl-btn {
    background: url('/assets/play-xl-btn.svg') center center no-repeat;

    &:hover {
      background: url('/assets/play-hover-xl-btn.svg') center center no-repeat;
    }
  }
}

.play-button:hover {
  background-color: #64EEBC;
  background: url('/assets/play-hover-btn.svg') center center no-repeat;
}

.triangle {
  display: none;
  width: 0;
  height: 0;
  border-left: 15px solid rgb(255, 255, 255);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
