.play-button {
  width: 40px;
  height: 40px;
  border: 1.8px solid #fff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.play-button:hover {
  background-color: #64EEBC;
}

.triangle {
  display: none;
  width: 0;
  height: 0;
  border-left: 15px solid rgb(255, 255, 255);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
