.navigation-menu-drawer {
  background-color: rgba(36, 36, 36) !important;
  padding-top: 20px;
  padding-right: 60px;
  padding-left: 40px;

  .ant-space {
    gap: 30px !important;
  }

  button {
    border: 0;
    color: #fff !important;
    background-color: transparent;

    &.action-btn {
      font-size: 26px !important;

      &:hover {
        background-color: transparent !important;

        .ant-btn-icon {
          color: #64EEBC !important;
          animation: none;
        }
      }
    }
  }
}

@media (width < 768px) {
  .ant-drawer-content-wrapper {
    width: 100% !important;
  }
}

@media (width > 768px) {
  .ant-drawer-content-wrapper {
    width: 50% !important;

    .navigation-menu-drawer {
      background-color: rgba(36, 36, 36, 0.9) !important;
    }
  }
}